@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

body {
  margin: 0;
  font-family: Inter, system-ui, sans-serif;
  background: #f8fafc;
}

.container {
  padding: 16px;
}

h1 {
  font-size: 20px;
  margin-bottom: 4px;
}

.subtitle {
  font-size: 12px;
  color: #64748b;
  margin-bottom: 16px;
}

/* Card */
.card {
  background: white;
  border-radius: 14px;
  padding: 14px;
  margin-bottom: 16px;
  border: 1px solid #e2e8f0;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.badge {
  padding: 4px 12px;
  border-radius: 999px;
  font-size: 12px;
}

.green {
  background: #dcfce7;
  color: #166534;
}

.red {
  background: #fee2e2;
  color: #991b1b;
}

/* Details */
.details p {
  margin: 4px 0;
  font-size: 14px;
}

.reservation {
  font-size: 13px;
  margin-top: 8px;
}

/* Actions */
.actions {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

input {
  padding: 10px;
  font-size: 14px;
  border-radius: 7px !important;
  border: 1px solid #cbd5e1;
}

button {
  height: 44px;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  background: #7bd493;
  color: #000 !important;
  opacity: 1;
}
button:disabled {
  opacity: 0.5;
}

button.secondary {
  background: #ecd47e;
}

button.danger {
  background: #f36060 !important;
}

/* Desktop enhancement */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
    margin: auto;
  }
}
